<div class="container">
  <h1>Add a restaurant you know!</h1>
  <p>Just fill in the form below</p>
  <%= render 'form' %>
  <p><%= link_to "Back", restaurants_path, class: "btn btn-default" %></p>
</div>

