<div class="container">
    <h1>Add your review</h1>
    <p>Fill in below</p>
    <%= render 'form' %>
    <p><%= link_to "Back", restaurant_path(@restaurant) , class: "btn btn-default"%></p>
</div>

